*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out
*.gz
# Archivos auxiliares LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc



# VSCode
.vscode/